<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thunisoft.demo.mapper.UserMapper">

    <resultMap id="user" type="com.thunisoft.demo.bean.User">
        <id property="id" column="n_id"></id>
        <result property="name" column="c_name"></result>
        <result property="xb" column="c_xb"></result>
        <result property="nl" column="n_nl"></result>
        <result property="jg" column="c_jg"></result>
        <result property="mz" column="c_mz"></result>
    </resultMap>

    <select id="queryById" resultMap="user" parameterType="java.lang.Long">
        select n_id, c_name, c_xb, n_nl, c_jg, c_mz from t_user where n_id = #{id} and c_sfyx = "1"
    </select>

    <select id="queryByJg" resultMap="user" parameterType="java.lang.String">
        select n_id, c_name, c_xb, n_nl, c_jg, c_mz from t_user where c_jg = #{jg} and c_sfyx = "1"
    </select>
</mapper>